# Week 2 - Iterating through data

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [3]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [4]:
##call the temporary variable
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [6]:
## name dog lucy
my_dog = "lucy"

In [7]:
## upper case the previous variable 
## you can target an individual item
my_dog.upper()

'LUCY'

In [8]:
## upper case and print each animal in our list
## this will break
fav_animals.upper()

AttributeError: 'list' object has no attribute 'upper'

In [10]:
## use a for loop to upper case each animal and print it

for animal in fav_animals:   
#     print(type(animal))
    print(animal.upper())

CATS
DOGS
BIRDS
SNAKES
HORSES

In [11]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [12]:
## We save our iterated data by adding to an empty list
upper_animals = []
for animal in fav_animals:   
#     print(type(animal))
    animal = animal.upper()
    upper_animals.append(animal)
    print(upper_animals)

['CATS']
['CATS', 'DOGS']
['CATS', 'DOGS', 'BIRDS']
['CATS', 'DOGS', 'BIRDS', 'SNAKES']
['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

Let's take **For Loops** for test drive:

In [ ]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [ ]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for ceo_salary_1985 in ceo_salaries_1985:
  print(f"A CEO earned ${ceo_salary_1985:,} in 1985")

In [ ]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

cpi_2019 = 255.657
cpi_1985 = 107.6

for salary_1985 in ceo_salaries_1985:
  updated_salary = (salary_1985/cpi_1985) * cpi_2019
  print(f"A CEO's salary of ${salary_1985:,} in 1985 is worth ${updated_salary:,.0f} in 2019 dollars.")
print(f"{updated_salary:,.0f}")

In [ ]:
## store the updated values

cpi_2019 = 255.657
cpi_1985 = 107.6

salaries_2019 = []

for salary_1985 in ceo_salaries_1985:
  updated_salary = (salary_1985/cpi_1985) * cpi_2019
  print(f"A CEO's salary of ${salary_1985:,} in 1985 is worth ${updated_salary:,.0f} in 2019 dollars.")
  salaries_2019.append(updated_salary)

In [ ]:
## call updated ceo salaries
salaries_2019

## 2. Conditional Statements

In [ ]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers

import random
numbers = random.sample(range(-100, 101), 10)
numbers

Create conditional statements that tell us if the last number and the penultimate number are positive or negative.
Print a sentence that reads:
```
"The last number [what is it?] is [positive or negative] while 
 the penultimate number [what is it?] is [negative or positive]."
```

In [ ]:
## code it here
## if else statements
if numbers[-2] > 0:
    pen_status = "positive"
else: 
    pen_status = "negative"
if numbers[-1] > 0:
    last_status = "positive"
else:
    last_status = "negative"   
print(f"The last number {numbers[-1]} is {last_status} while \
 the penultimate number {numbers[-2]} is {pen_status}.")

## 3. Tenary Expression
```variable = value1 if some_condition else value2```

In [2]:
## Use the same data in the previous conditional and print out the same results using a tenary expression.

pen_status  = "positive" if numbers[-2] > 0 else "negative"
last_status = "positive" if numbers[-1] > 0 else "negative"
print(f"The last number {numbers[-1]} is {last_status} while \
 the penultimate number {numbers[-2]} is {pen_status}.")

## the zen of python

In [ ]:
import this

## Modulo Operator

The ```%``` is also known as the ```modulo operator``` in Python.

The expression ```10 % 2``` means if you devide 10 by 2, what is the remainder?

In [ ]:
### try it
10 % 2

In [ ]:
## try 13 divided by 2
13% 2

In [ ]:
## assign x the value 2
x = 2

In [ ]:
## check for equality of 2
x == 2

In [ ]:
## check for equality of 3

x == 3

## 4. List Comprehension

In [ ]:
## run this list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## use a FOR LOOP (FL) to create a list that holds the numbers times 10
x10_fl = []

for number in numbers:
#     number = number * 10
#     x10_fl.append(number)
    x10_fl.append(number * 10)
    
x10_fl

In [ ]:
## use list comprehension (LC) to create a list that holds the numbers times 10
## use list comprehension (LC) to create a list that holds the numbers times 10

x10_lc = [number * 10 for number in numbers]
x10_lc

In [ ]:
## use LC to create a list that holds only the even numbers 
even_lc = [number for number in numbers if number % 2 == 0 ]
even_lc

In [ ]:
## use LC to create a list that holds only the odd numbers 
odd_lc = [number * 10 for number in numbers if number % 2 !=0]
odd_lc

## 5. For Loops through multiple but related lists

When we scrape data from a website, we pull down various data points (income, name, location, id code, etc.) and store each into its own separate list.

A final step is to always group data points from each observation together. For example:

- "Sandeep Junnarkar"
- "Professor"
- "Male"
- "CUNY"

### Two ways to ```zip()``` these lists together

But first let's explore the zip function:

In [ ]:
##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [ ]:
## with zip
## also print what each type of data is.

for (f_name, l_name, role, co, sector)\
in zip(first_names, last_names, titles, companies, industries):
    print(f"{f_name} {l_name}: {role}, {co}, {sector}")

### Method 1 – Zip lists into dictionaries

In [ ]:
## declare empty list and for loop zip
method_1 = []

## for loop:
for (f_name, l_name, role, co, sector)\
in zip(first_names, last_names, titles, companies, industries):
    method_1.append({
        "first_name": f_name,
        "last_name": l_name,
        "title": role,
        "company": co,
        "Industry": sector
    })

In [ ]:
## call the method_1 list
method_1

## List of Dictionaries to Dataframes

Recall that a list of dictionaries are like columns and rows in a csv

In [ ]:
## import pandas

import pandas as pd

In [ ]:
## Turn list into a dataframe
df = pd.DataFrame(method_1)
df

In [ ]:
## export as csv

df.to_csv("method_1.csv", encoding = "UTF-8", index = False)

### One more datatype: ```tuple```:

- Create a ```tuple``` by using parentheses.
- It's just like a list but can not be changed once it is assigned a value(s).
- You can call items in a ```tuple``` using slicing.

In [ ]:
## create a tuple
grades = (95, 25, 30)

In [ ]:
## call the tuple
grades

In [ ]:
## confirm data type


type(grades)

In [ ]:
## call the first item in our tuple
grades[0]

In [ ]:
## append a grade of 100 to the grades tuple
## this will break
grades.append(100)

In [ ]:
## only way to add to a tuple is to create a new tuple
## append a grade of 100 to the grades tuple
updated_grade = grades + (100, )
updated_grade

I don't use ```tuples``` too often except in one situation – they provide a shortcut to turning items in a list into a dataframe.

## Method 2 – Zip into tuple

In [ ]:
## recall we named each item in the for

for (f_name, l_name, title, co, sector) in zip(first_names, last_names, titles, companies, industries):
  print(f"{f_name} {l_name}; {title}, {co}, {sector}")

In [ ]:
## zip it and print

for x in zip(first_names, last_names, titles, companies, industries):
    print(x)

In [ ]:
## we need to store into a list called method_2
method_2 = []
for item in zip(first_names, last_names, titles, companies, industries):
    method_2.append(item)

In [ ]:
## call method 2
method_2

In [ ]:
## what type of data set does this list hold?
type(method_2)

In [ ]:
## export to a pandas dataframe
## export to a pandas dataframe
df = pd.DataFrame(method_2)
## name the columns
df.columns = ["first", "last", "title", "company", "industry"]
## name the columns

In [ ]:
## export to a csv
## export to a csv
df.to_csv("method_2.csv", encoding = "UTF-8", index = False)