# Week 2 - Iterating through data

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [3]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [4]:
##call the temporary variable

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [6]:
## name dog lucy

In [7]:
## upper case the previous variable 
## you can target an individual item

'LUCY'

In [8]:
## upper case and print each animal in our list
## this will break

AttributeError: 'list' object has no attribute 'upper'

In [10]:
## use a for loop to upper case each animal and print it

CATS
DOGS
BIRDS
SNAKES
HORSES

In [11]:
## did our list change? Call the fav_animals list

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [12]:
## We save our iterated data by adding to an empty list

['CATS']
['CATS', 'DOGS']
['CATS', 'DOGS', 'BIRDS']
['CATS', 'DOGS', 'BIRDS', 'SNAKES']
['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

Let's take **For Loops** for test drive:

In [ ]:
## RUN THIS CELL - Use this list of CEO salaries from 1985

In [ ]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."

In [ ]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

In [ ]:
## store the updated values

In [ ]:
## call updated ceo salaries

## 2. Conditional Statements

In [ ]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers

import random
numbers = random.sample(range(-100, 101), 10)
numbers

Create conditional statements that tell us if the last number and the penultimate number are positive or negative.
Print a sentence that reads:
```
"The last number [what is it?] is [positive or negative] while 
 the penultimate number [what is it?] is [negative or positive]."
```

In [ ]:
## code it here
## if else statements

## 3. Tenary Expression
```variable = value1 if some_condition else value2```

In [2]:
## Use the same data in the previous conditional and print out the same results using a tenary expression.

## the zen of python

## Modulo Operator

The ```%``` is also known as the ```modulo operator``` in Python.

The expression ```10 % 2``` means if you devide 10 by 2, what is the remainder?

In [ ]:
### try it

In [ ]:
## try 13 divided by 2

In [ ]:
## assign x the value 2

In [ ]:
## check for equality of 2

In [ ]:
## check for equality of 3

## 4. List Comprehension

In [ ]:
## run this list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## use a FOR LOOP (FL) to create a list that holds the numbers times 10

In [ ]:
## use list comprehension (LC) to create a list that holds the numbers times 10
## use list comprehension (LC) to create a list that holds the numbers times 10

In [ ]:
## use LC to create a list that holds only the even numbers

In [ ]:
## use LC to create a list that holds only the odd numbers

## 5. For Loops through multiple but related lists

When we scrape data from a website, we pull down various data points (income, name, location, id code, etc.) and store each into its own separate list.

A final step is to always group data points from each observation together. For example:

- "Sandeep Junnarkar"
- "Professor"
- "Male"
- "CUNY"

### Two ways to ```zip()``` these lists together

But first let's explore the zip function:

In [ ]:
##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [ ]:
## with zip
## also print what each type of data is.

### Method 1 – Zip lists into dictionaries

In [ ]:
## declare empty list and for loop zip

In [ ]:
## call the method_1 list

## List of Dictionaries to Dataframes

Recall that a list of dictionaries are like columns and rows in a csv

In [ ]:
## import pandas

import pandas as pd

In [ ]:
## Turn list into a dataframe

In [ ]:
## export as csv

### One more datatype: ```tuple```:

- Create a ```tuple``` by using parentheses.
- It's just like a list but can not be changed once it is assigned a value(s).
- You can call items in a ```tuple``` using slicing.

In [ ]:
## create a tuple

In [ ]:
## call the tuple

In [ ]:
## confirm data type

In [ ]:
## call the first item in our tuple

In [ ]:
## append a grade of 100 to the grades tuple
## this will break

In [ ]:
## only way to add to a tuple is to create a new tuple
## append a grade of 100 to the grades tuple

I don't use ```tuples``` too often except in one situation – they provide a shortcut to turning items in a list into a dataframe.

## Method 2 – Zip into tuple

In [ ]:
## recall we named each item in the for

In [ ]:
## zip it and print

In [ ]:
## we need to store into a list called method_2

In [ ]:
## call method 2

In [ ]:
## what type of data set does this list hold?

In [ ]:
## export to a pandas dataframe
## export to a pandas dataframe

In [ ]:
## export to a csv
## export to a csv