# Tables scattered in PDFs

As it is, PDFs are notoriously obnoxious. They are designed so people can't change them easily.

PDFs that hold tables are pretty much the worst.

We want to <a href="https://drive.google.com/file/d/1aeRaTL1G3rCfAiQIGo3ZlWc1YnE4pr8H/view?usp=share_link">scrape data from digital PDFs</a>.

You might have worked with the <a href="https://tabula.technology/">Tabula GUI</a> to extract tables from PDFs. But there's a lot of manual work involved. 

To automate the process, we'll use the **Tabula Python Library**.

### There's NO satisfaction guarantee, but at least it's a way to try to tackle PDFs with tables.

## THE SETUP

In [1]:
## !pip install tabula-py.
## it is not part of the standard Colab library

In [3]:
pip install -q tabula-py

Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install install-jdk

Requirement already satisfied: install-jdk in /Users/eduardogonzalez/opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
## import tabula
## check it's versioning
import tabula
tabula.environment_info() ## not need always

Python version:
    3.9.13 (main, Aug 25 2022, 18:29:29)
[Clang 12.0.0 ]
Java version:
    java version "21.0.1" 2023-10-17 LTS
Java(TM) SE Runtime Environment (build 21.0.1+12-LTS-29)
Java HotSpot(TM) 64-Bit Server VM (build 21.0.1+12-LTS-29, mixed mode, sharing)
tabula-py version: 2.8.2
platform: macOS-10.16-x86_64-i386-64bit
uname:
    uname_result(system='Darwin', node='MacBook-Pro-de-EDUARDO.local', release='21.6.0', version='Darwin Kernel Version 21.6.0: Mon Dec 19 20:44:01 PST 2022; root:xnu-8020.240.18~2/RELEASE_X86_64', machine='x86_64')
linux_distribution: ('Darwin', '21.6.0', '')
mac_ver: ('10.16', ('', '', ''), 'x86_64')

For other people getting the JDK error within jupyter nb, this resolved it for me. I installed the latest version of Oracle’s Java JDK. For those with an M1 machine, the appropriate one is the ARM file under the MacOS tab; for those with intel, it’s the x64.
https://www.oracle.com/java/technologies/downloads/#jdk17-mac

In [6]:
## import some libraries we need
import pandas as pd ## pandas to work with data

In [7]:
## Let's pull in our first pdf with a single page, single table
pdf1 = "pdf_samples/mockup1.pdf"
table1 = tabula.read_pdf(pdf1)
table1

'pages' argument isn't specified.Will extract only from page 1 by default.

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
 0                       Health Insurance      $6,268      $7,173
 1                        Social Security      $2,161      $2,224
 2          Supplemental Welfare Benefits      $1,259      $1,333
 3                  Worker's Compensation        $343        $369
 4                  Annuity Contributions        $117        $120
 5                 Allowance for Uniforms         $72         $71
 6      Worker's Compensation - Uniformed         $41         $42
 7                 Unemployment Insurance         $36         $38
 8                  Other Fringe Benefits         $12         $12
 9               Faculty Welfare Benefits         $33         $10
 10                  Disability Insurance          $1          $1
 11                                Total*     $10,642     $11,394

    Percent Change
 0             14%
 1              3%
 2              6%
 3              8%
 4              3%
 5             -1%
 6              4%
 7              3%
 8             -3%
 9            -69%
 10             0%
 11             7%  ]

In [8]:
## WHAT TYPE OF DATA?
type(table1)

list

In [9]:
## let's get the first table
df = table1[0].copy()
df

,Fringe Benefit Expenses (in millions),Fiscal 2019,Fiscal 2020,Percent Change
0,Health Insurance,"$6,268","$7,173",14%
1,Social Security,"$2,161","$2,224",3%
2,Supplemental Welfare Benefits,"$1,259","$1,333",6%
3,Worker's Compensation,$343,$369,8%
4,Annuity Contributions,$117,$120,3%
5,Allowance for Uniforms,$72,$71,-1%
6,Worker's Compensation - Uniformed,$41,$42,4%
7,Unemployment Insurance,$36,$38,3%
8,Other Fringe Benefits,$12,$12,-3%
9,Faculty Welfare Benefits,$33,$10,-69%
10,Disability Insurance,$1,$1,0%
11,Total*,"$10,642","$11,394",7%

In [ ]:
## look at it

In [10]:
## WHT TYPE OF DATA?
type(table1[0])

pandas.core.frame.DataFrame

In [ ]:
## Export and download as CSV file

# Multiple pages/ Multiple tables

In [17]:
## let's pull in our a file with multiple pages and tables
## we target the table on the fisrt and second page.
pdf2 = "pdf_samples/mockup2.pdf"
table2 = tabula.read_pdf(pdf2, pages= "1-4")
print(table2)

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
0                       Health Insurance      $6,268      $7,173
1                        Social Security      $2,161      $2,224
2          Supplemental Welfare Benefits      $1,259      $1,333
3                  Worker's Compensation        $343        $369
4                  Annuity Contributions        $117        $120
5                 Allowance for Uniforms         $72         $71
6      Worker's Compensation - Uniformed         $41         $42
7                 Unemployment Insurance         $36         $38
8                  Other Fringe Benefits         $12         $12
9               Faculty Welfare Benefits         $33         $10
10                  Disability Insurance          $1          $1
11                                Total*     $10,642     $11,394

   Percent Change
0             14%
1              3%
2              6%
3              8%
4              3%
5             -1%
6              4%
7              3%
8             -3%
9            -69%
10             0%
11             7%  ,                              Unnamed: 0   FY19  FY20  Unnamed: 1  FY21  \
0                         Real Property  ($70)    $0         NaN    $0
1                       Personal Income    284   152         NaN   120
2                   General Corporation     71    71         NaN    67
3               Unincorporated Business    -52  -189         NaN  -133
4                         Sales and Use     18    98         NaN   114
5                       Commercial Rent     11    15         NaN    16
6                Real Property Transfer    -30    45         NaN    44
7                    Mortgage Recording    -24    25         NaN    24
8                               Utility      0     1         NaN     0
9                                 Hotel      5    -9         NaN     1
10                            All Other    -11     0         NaN     0
11  Total Executive 2020 Financial Plan    NaN   NaN         NaN   NaN
12                              Changes   $202  $209         NaN  $253

    Unnamed: 2  FY22  Unnamed: 3  FY23
0          NaN    $0         NaN    $0
1          NaN   122         NaN    87
2          NaN    78         NaN    41
3          NaN  -106         NaN  -110
4          NaN   112         NaN   112
5          NaN    18         NaN    18
6          NaN    48         NaN    45
7          NaN    27         NaN    25
8          NaN     0         NaN     0
9          NaN     0         NaN     7
10         NaN     0         NaN     0
11         NaN   NaN         NaN   NaN
12         NaN  $299         NaN  $225  ,       Unnamed: 0       Unnamed: 1  Unnamed: 2  FY 2018  FY 2020  FY 2021
0  $ in billions  FY 2019 Actuals         NaN  Actuals  Enacted  Request
1           Base              NaN       599.6    616.4    633.3    636.4
2       Overseas              NaN         NaN      NaN      NaN      NaN
3    Contingency              NaN         NaN      NaN      NaN      NaN
4     Operations              NaN        65.2     68.6     66.4       53
5   OCO for Base               --         NaN       --      4.9       16
6      Emergency              NaN         5.8      2.8        8       --
7          Total              NaN       670.6    687.8    712.6    705.4,                              Unnamed: 0  FY 2019  Unnamed: 1  FY 2020  \
0                               Georgia  Enacted         NaN  Enacted
1      Research - Basic Energy Sciences    5,116         NaN    6,435
2                 Basic Energy Sciences    5,116         NaN    6,435
3   Biological & Environmental Research      343         NaN      347
4                      Science Programs    5,459         NaN    6,782
5           State Energy Program Grants    1,143         NaN    1,320
6     Weatherization Assistance Program    3,658         NaN    4,286
7                    Weatherization and      NaN         NaN      NaN
8            Intergovernmental Programs    4,801         NaN    5,606
9       Energy Efficiency and Renewable      NaN         NaN      NaN
10                      Energy Programs    4,801         NaN    5,606
11      Program Direction - Electricity       12         NaN       12
12                 Electricity Programs       12         NaN       12
13   Purchase Power and Wheeling - SEPA   68,824         NaN   70,704
14             Program Direction - SEPA    6,500         NaN    6,597
15    Southeastern Power Administration      NaN         NaN      NaN
16                             Programs   75,324         NaN   77,301
17                        Total Georgia   85,596         NaN   89,701

    Unnamed: 2 FY 2021 Request
0          NaN          Detail
1          NaN           6,435
2          NaN           6,435
3          NaN               0
4          NaN           6,435
5          NaN               0
6          NaN               0
7          NaN             NaN
8          NaN               0
9          NaN             NaN
10         NaN               0
11         NaN              12
12         NaN              12
13         NaN          85,401
14         NaN          11,246
15         NaN             NaN
16         NaN          96,647
17         NaN         103,094  ]

In [12]:
pdf2

'pdf_samples/mockup2.pdf'

In [13]:
## let's get the first table
df1 = table2[2].copy()
df1

      Unnamed: 0       Unnamed: 1  Unnamed: 2  FY 2018  FY 2020  FY 2021
0  $ in billions  FY 2019 Actuals         NaN  Actuals  Enacted  Request
1           Base              NaN       599.6    616.4    633.3    636.4
2       Overseas              NaN         NaN      NaN      NaN      NaN
3    Contingency              NaN         NaN      NaN      NaN      NaN
4     Operations              NaN        65.2     68.6     66.4       53
5   OCO for Base               --         NaN       --      4.9       16
6      Emergency              NaN         5.8      2.8        8       --
7          Total              NaN       670.6    687.8    712.6    705.4

In [18]:
## we are pulling in a range of pages
## IMPORTANT: There are no spaces in "1-2,4"
table2a = tabula.read_pdf(pdf2, pages = "1-2,4")
print(table2a)

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
0                       Health Insurance      $6,268      $7,173
1                        Social Security      $2,161      $2,224
2          Supplemental Welfare Benefits      $1,259      $1,333
3                  Worker's Compensation        $343        $369
4                  Annuity Contributions        $117        $120
5                 Allowance for Uniforms         $72         $71
6      Worker's Compensation - Uniformed         $41         $42
7                 Unemployment Insurance         $36         $38
8                  Other Fringe Benefits         $12         $12
9               Faculty Welfare Benefits         $33         $10
10                  Disability Insurance          $1          $1
11                                Total*     $10,642     $11,394

   Percent Change
0             14%
1              3%
2              6%
3              8%
4              3%
5             -1%
6              4%
7              3%
8             -3%
9            -69%
10             0%
11             7%  ,                              Unnamed: 0   FY19  FY20  Unnamed: 1  FY21  \
0                         Real Property  ($70)    $0         NaN    $0
1                       Personal Income    284   152         NaN   120
2                   General Corporation     71    71         NaN    67
3               Unincorporated Business    -52  -189         NaN  -133
4                         Sales and Use     18    98         NaN   114
5                       Commercial Rent     11    15         NaN    16
6                Real Property Transfer    -30    45         NaN    44
7                    Mortgage Recording    -24    25         NaN    24
8                               Utility      0     1         NaN     0
9                                 Hotel      5    -9         NaN     1
10                            All Other    -11     0         NaN     0
11  Total Executive 2020 Financial Plan    NaN   NaN         NaN   NaN
12                              Changes   $202  $209         NaN  $253

    Unnamed: 2  FY22  Unnamed: 3  FY23
0          NaN    $0         NaN    $0
1          NaN   122         NaN    87
2          NaN    78         NaN    41
3          NaN  -106         NaN  -110
4          NaN   112         NaN   112
5          NaN    18         NaN    18
6          NaN    48         NaN    45
7          NaN    27         NaN    25
8          NaN     0         NaN     0
9          NaN     0         NaN     7
10         NaN     0         NaN     0
11         NaN   NaN         NaN   NaN
12         NaN  $299         NaN  $225  ,                              Unnamed: 0  FY 2019  Unnamed: 1  FY 2020  \
0                               Georgia  Enacted         NaN  Enacted
1      Research - Basic Energy Sciences    5,116         NaN    6,435
2                 Basic Energy Sciences    5,116         NaN    6,435
3   Biological & Environmental Research      343         NaN      347
4                      Science Programs    5,459         NaN    6,782
5           State Energy Program Grants    1,143         NaN    1,320
6     Weatherization Assistance Program    3,658         NaN    4,286
7                    Weatherization and      NaN         NaN      NaN
8            Intergovernmental Programs    4,801         NaN    5,606
9       Energy Efficiency and Renewable      NaN         NaN      NaN
10                      Energy Programs    4,801         NaN    5,606
11      Program Direction - Electricity       12         NaN       12
12                 Electricity Programs       12         NaN       12
13   Purchase Power and Wheeling - SEPA   68,824         NaN   70,704
14             Program Direction - SEPA    6,500         NaN    6,597
15    Southeastern Power Administration      NaN         NaN      NaN
16                             Programs   75,324         NaN   77,301
17                        Total Georgia   85,596         NaN   89,701

    Unnamed: 2 FY 2021 Request
0          NaN          Detail
1          NaN           6,435
2          NaN           6,435
3          NaN               0
4          NaN           6,435
5          NaN               0
6          NaN               0
7          NaN             NaN
8          NaN               0
9          NaN             NaN
10         NaN               0
11         NaN              12
12         NaN              12
13         NaN          85,401
14         NaN          11,246
15         NaN             NaN
16         NaN          96,647
17         NaN         103,094  ]

In [19]:
table2a

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
 0                       Health Insurance      $6,268      $7,173
 1                        Social Security      $2,161      $2,224
 2          Supplemental Welfare Benefits      $1,259      $1,333
 3                  Worker's Compensation        $343        $369
 4                  Annuity Contributions        $117        $120
 5                 Allowance for Uniforms         $72         $71
 6      Worker's Compensation - Uniformed         $41         $42
 7                 Unemployment Insurance         $36         $38
 8                  Other Fringe Benefits         $12         $12
 9               Faculty Welfare Benefits         $33         $10
 10                  Disability Insurance          $1          $1
 11                                Total*     $10,642     $11,394

    Percent Change
 0             14%
 1              3%
 2              6%
 3              8%
 4              3%
 5             -1%
 6              4%
 7              3%
 8             -3%
 9            -69%
 10             0%
 11             7%  ,
                              Unnamed: 0   FY19  FY20  Unnamed: 1  FY21  \
 0                         Real Property  ($70)    $0         NaN    $0
 1                       Personal Income    284   152         NaN   120
 2                   General Corporation     71    71         NaN    67
 3               Unincorporated Business    -52  -189         NaN  -133
 4                         Sales and Use     18    98         NaN   114
 5                       Commercial Rent     11    15         NaN    16
 6                Real Property Transfer    -30    45         NaN    44
 7                    Mortgage Recording    -24    25         NaN    24
 8                               Utility      0     1         NaN     0
 9                                 Hotel      5    -9         NaN     1
 10                            All Other    -11     0         NaN     0
 11  Total Executive 2020 Financial Plan    NaN   NaN         NaN   NaN
 12                              Changes   $202  $209         NaN  $253

     Unnamed: 2  FY22  Unnamed: 3  FY23
 0          NaN    $0         NaN    $0
 1          NaN   122         NaN    87
 2          NaN    78         NaN    41
 3          NaN  -106         NaN  -110
 4          NaN   112         NaN   112
 5          NaN    18         NaN    18
 6          NaN    48         NaN    45
 7          NaN    27         NaN    25
 8          NaN     0         NaN     0
 9          NaN     0         NaN     7
 10         NaN     0         NaN     0
 11         NaN   NaN         NaN   NaN
 12         NaN  $299         NaN  $225  ,
                              Unnamed: 0  FY 2019  Unnamed: 1  FY 2020  \
 0                               Georgia  Enacted         NaN  Enacted
 1      Research - Basic Energy Sciences    5,116         NaN    6,435
 2                 Basic Energy Sciences    5,116         NaN    6,435
 3   Biological & Environmental Research      343         NaN      347
 4                      Science Programs    5,459         NaN    6,782
 5           State Energy Program Grants    1,143         NaN    1,320
 6     Weatherization Assistance Program    3,658         NaN    4,286
 7                    Weatherization and      NaN         NaN      NaN
 8            Intergovernmental Programs    4,801         NaN    5,606
 9       Energy Efficiency and Renewable      NaN         NaN      NaN
 10                      Energy Programs    4,801         NaN    5,606
 11      Program Direction - Electricity       12         NaN       12
 12                 Electricity Programs       12         NaN       12
 13   Purchase Power and Wheeling - SEPA   68,824         NaN   70,704
 14             Program Direction - SEPA    6,500         NaN    6,597
 15    Southeastern Power Administration      NaN         NaN      NaN
 16                             Programs   75,324         NaN   77,301
 17                        Total Georgia   85,596         NaN   89,701

     Unnamed: 2 FY 2021 Request
 0          NaN          Detail
 1          NaN           6,435
 2          NaN           6,435
 3          NaN               0
 4          NaN           6,435
 5          NaN               0
 6          NaN               0
 7          NaN             NaN
 8          NaN               0
 9          NaN             NaN
 10         NaN               0
 11         NaN              12
 12         NaN              12
 13         NaN          85,401
 14         NaN          11,246
 15         NaN             NaN
 16         NaN          96,647
 17         NaN         103,094  ]

## Homework for week 11

- Multi-page, Multi-table all zipped together
- Look at week 9

## Foundational Multi-page, Multi-table

### Campaign contribution demo

In [ ]:
## path to our "campaign_contribs.pdf" PDF

In [ ]:
## get all the pages

In [ ]:
## confirm we have the correct number of tables. should have 4 tables

In [ ]:
## let's get the 3rd table

In [ ]:
## create a function to download each table as CSV

In [ ]:
## call the function

In [ ]:
## write function to combine tabula tables into a single csv

In [ ]:
## call the function

## Reality Check

In [ ]:
## import who_covid.pdf

In [ ]:
##look at it

In [ ]:
## table on page 3

In [ ]:
##table on page 4

# No Satisfaction Guarantee

I know I said that at the beginning. What did I mean by that?

The results really depend on the PDF and how it was put together.

Here are some issues you will encounter:

1. The Tables have too many sub-columns and sub-rows and groupings (bad_table.pdf)

2. Multiple different tables on the same page that are too close together will be processed as a single table and be an utter mess.

3. Documents and reports that have been scanned and are really images of PDFs can't be processed with Tabula or PyPDF2. Tables on these types of scans require advanced Python and graphical analysis skills beyond the scope of this course.